body{
    font-family: 'Share Tech Mono', monospace;
}
.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

a{
    text-decoration: none;
}
h1{
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Syne Mono', monospace;
}


.header{
    justify-content: space-between;
    padding-top: 0.5rem;
}
.enlaces{
    width: 10px;
}

.menu-contacto{
    top:0;
    min-width: 0;
    padding:0;
    border:none;
}

.btn:focus{
    box-shadow:none !important;
}

.nombre{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.perfil1{
    display: flex;
    justify-content: center;
}

.nombre p{
    padding-right:1rem;
}
.uno{
    display: flex;
    flex-direction: row;
    
}

.uno i:hover{
    cursor:pointer;
}
.perfil{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    box-shadow: 5px 5px 5px black;
}
.perfil:hover{
    cursor:pointer;
    box-shadow: 8px 8px 8px black;
    border:solid 0.5px black;
}
.icono{
    color:black;
    font-size: 1.5rem;
}
.oscurillo{ 
    color: #f1eded !important; 
    background-color: #1f1f1f;
}

.oscurillo1{
    box-shadow: 3px 3px 7px white !important;

}
.oscurillo1:hover{
    cursor:pointer;
    box-shadow: 5px 5px 8px white !important;
    border:solid 2px white;
}

.dark-mode{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding:0;
}

.black{
    background-color: #1f1f1f !important;

}

.cuerpo{
padding: 5rem;
margin: 0;

}

.habilidades{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    
}





.habilidades button{
    color: black !important;
    background-color: white !important;
    border:none !important;
    box-shadow: 0 0 0 0;
    font-weight: bold;
    justify-content: center;
    font-size: 1.5rem;
}



.accordion button:focus{
    border: none !important;
    box-shadow:none !important;
}

.description{
    font-size: 13px;
}