@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?a49de10d4deba8aa3fdf8a191b9d1451") format("truetype"),
url("./flaticon.woff?a49de10d4deba8aa3fdf8a191b9d1451") format("woff"),
url("./flaticon.woff2?a49de10d4deba8aa3fdf8a191b9d1451") format("woff2"),
url("./flaticon.eot?a49de10d4deba8aa3fdf8a191b9d1451#iefix") format("embedded-opentype"),
url("./flaticon.svg?a49de10d4deba8aa3fdf8a191b9d1451#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-contacto:before {
    content: "\f101";
}
.flaticon-llamada-telefonica:before {
    content: "\f102";
}
.flaticon-logotipo-de-gmail:before {
    content: "\f103";
}
.flaticon-logotipo-de-linkedin:before {
    content: "\f104";
}
.flaticon-media-luna-y-sol:before {
    content: "\f105";
}
.flaticon-papel-de-datos-personales-de-empresario:before {
    content: "\f106";
}
.flaticon-signo-de-github:before {
    content: "\f107";
}
.flaticon-whatsapp:before {
    content: "\f108";
}
